/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
html legend { 
	position:absolute; 
	top: -1em; 
	left: .5em; 
} 

html fieldset { 
	position: relative; 
	width: 500px;
	margin-top:3em; 
	padding-top:3em; 
	padding-bottom: 1em; 
	font-family: "Century Gothic", "Gill San", Arial, sans-serif;
} 

/* Form Styles */ 
legend { 
	color: white; 
	background: maroon; 
	padding: .4em 1em; 
} 

label {
	width: 120px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	display: block;
}

form.formtastic input {font-family: Arial, sans-serif; padding-top: 3px; padding-bottom: 3px;}
form.formtastic li {list-style: none;}
form.formtastic fieldset > ol > li.required {color: red; }
form.formtastic fieldset.buttons {margin-left: 10px;}